@font-face {
	font-family:ProximaNovaRegular;
	src: url("./css/ProximaNova-Regular.otf") format("opentype");
}

#message {
	width:100%;
	height:320px;
}

#content {
	margin:0 auto;
	padding:5px 10px 35px 10px;
	background-color:#FFF/*#f6f6ef*/;
	width:80%;
}

#lang_switcher {
	width:100%;
	text-align:right;
	font-size:12px;
	margin-bottom:0px;
}

#footer {
	margin:0 auto;
	margin-top:0px;
	font-size:12px;
	padding:3px 10px 3px 10px;
	border-top:2px solid #BBBBBB;
	width:80%;
}

#bitcoin_address_box {
	background-color:#DFDDD9;
	padding:5px;
	margin:0 auto;
	margin-top:20px;
	width:360px;
	text-align:center;
}

#quote {
	color:#B2B2B2;
	padding-left:20px;
	margin-bottom:35px;
	font-style:italic;
	font-size:11px;
}

body { background-color:#FFF; margin-top:0px; font-family:ProximaNovaRegular; font-size:14px; }
h1 {
	margin-top:0px;
	margin-bottom:5px;
	font-size:26px;
	font-family:Helvetica;
}
h2 { margin-top:0px; margin-bottom:10px; font-size:18px; font-family:ProximaNovaRegular; }
h3 { margin-top:0px; margin-bottom:3px; font-size:16px; font-family:ProximaNovaRegular; }
p { margin:5px 0px 5px 0px; padding:0px 5px 5px 3px; }
a { color:#2D6FAC; }
a:visited { color:#2D6FAC; }
a:hover { text-decoration:none; }
li { margin-bottom:15px; }
input {
	border:1px solid #B2B2B2;
	font-size:12px;
	padding:5px;
	background-color:#FFFFFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}
textarea:focus, input:focus {
	outline:0;
}
input[type=checkbox] {
	vertical-align:top;
}
button {
	padding:1px;
	font-size:12px;
	font-family:ProximaNovaRegular;
	cursor:pointer;
	border:1px solid #BBBBBB;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-color:#F3F3F2;
}
button:hover { background-color:#EDECEB; }
textarea {
	border:1px solid #B2B2B2;
	resize:none;
	margin:0px;
	background-color:#FFFFFF;
	font-family:Monospace;
	font-size:12px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}
pre {
	padding:5px;
	font-size:14px;
	font-family:Monospace;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
noscript {
	font-weight:bold;
	width:80%;
	color:#F73131;
}
label { cursor:pointer; }
td { padding:2px; }

.small { font-size:11px; }
.a_special { text-decoration:none; }
.primary { font-weight:bold; }
.delim { margin-left:4px; margin-right:4px; }
.error { color:#F73131; font-size:14px; }
.notice { color:#2D6FAC; font-size:14px; }
.hidden { display:none; }
.email_input { width:45%; }

.modal_heading {
	width:50%;
	float:left;
	vertical-align:top;
}
.modal {
	width:65%;
	background-color:#FFFFFF;
	margin:0 auto;
}
.pub_key_text { width:100%; height:432px; }
.icon-keys { background-image:url("/img/keys.png"); background-size:13px 15px; background-repeat:no-repeat }
